WP_ENVIRONMENT_TYPE=production
WP_DEBUG=0
WP_DEBUG_LOG=0
SCRIPT_DEBUG=0
FORCE_SSL_ADMIN=1
DISALLOW_FILE_MODS=1
WP_HOME=https://cms.your-domain.com
WP_SITEURL=https://cms.your-domain.com
WP_AUTH_KEY=replace-me
WP_SECURE_AUTH_KEY=replace-me
WP_LOGGED_IN_KEY=replace-me
WP_NONCE_KEY=replace-me
WP_AUTH_SALT=replace-me
WP_SECURE_AUTH_SALT=replace-me
WP_LOGGED_IN_SALT=replace-me
WP_NONCE_SALT=replace-me
